@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
  .h1 {
    @apply text-3xl font-bold;
  }
  .h2 {
    @apply text-2xl font-bold;
  }
  .h3 {
    @apply text-xl font-bold;
  }
  .h4 {}
  
  .btn-primary {
    @apply py-2 px-5 bg-black text-white font-light rounded-l shadow-md hover:bg-gray-700;
  }
  .btn-primary-inverse {
    @apply py-2 px-5 bg-white text-black font-light rounded-l shadow-md hover:bg-gray-100;
  }
  .card {
    background-color: theme(colors.white);
    border-radius: theme(borderRadius.md);
    padding: theme(spacing.6);
    box-shadow: theme(boxShadow.xl);
  }
  
  .input {
    border-radius: theme(borderRadius.sm);
    border: 1px solid theme(colors.gray.300);
    padding: theme(spacing.2);
  }
}
